@font-face {
    font-family: "myFontLight";
    src: url("./fonts/DunbarTall-ExtraLight.woff");
  };
  @font-face {
    font-family: "myFontBold";
    src: url("./fonts/DunbarTall-Medium.woff");
  };
@tailwind base;
@tailwind components;
@tailwind utilities;


